<a href="https://colab.research.google.com/github/Salaar-del/test-01/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df=pd.read_excel ("/content/drive/MyDrive/Session1_Exercise.xlsx")
print(df)

     gender race/ethnicity parental level of education  \
0    female        group B           bachelor's degree
1    female        group C                some college
2    female        group B             master's degree
3      male        group A          associate's degree
4      male        group C                some college
..      ...            ...                         ...
995  female        group E             master's degree
996    male        group C                 high school
997  female        group C                 high school
998  female        group D                some college
999  female        group D                some college

    test preparation course         lunch  math score  reading score  \
0                      none      standard          72             72
1                 completed      standard          69             90
2                      none      standard          90             95
3                      none  free/reduced          47             57
4                      none      standard          76             78
..                      ...           ...         ...            ...
995               completed      standard          88             99
996                    none  free/reduced          62             55
997               completed  free/reduced          59             71
998               completed      standard          68             78
999                    none  free/reduced          77             86

     writing score  Total  MAx  Min  Avg
0               74    NaN  NaN  NaN  NaN
1               88    NaN  NaN  NaN  NaN
2               93    NaN  NaN  NaN  NaN
3               44    NaN  NaN  NaN  NaN
4               75    NaN  NaN  NaN  NaN
..             ...    ...  ...  ...  ...
995             95    NaN  NaN  NaN  NaN
996             55    NaN  NaN  NaN  NaN
997             65    NaN  NaN  NaN  NaN
998             77    NaN  NaN  NaN  NaN
999             86    NaN  NaN  NaN  NaN

[1000 rows x 12 columns]

In [ ]:
df.head()

,gender,race/ethnicity,parental level of education,test preparation course,lunch,math score,reading score,writing score,Total,MAx,Min,Avg
0,female,group B,bachelor's degree,none,standard,72,72,74,NaN,NaN,NaN,NaN
1,female,group C,some college,completed,standard,69,90,88,NaN,NaN,NaN,NaN
2,female,group B,master's degree,none,standard,90,95,93,NaN,NaN,NaN,NaN
3,male,group A,associate's degree,none,free/reduced,47,57,44,NaN,NaN,NaN,NaN
4,male,group C,some college,none,standard,76,78,75,NaN,NaN,NaN,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   test preparation course      1000 non-null   object
 4   lunch                        1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
 8   Total                        0 non-null      float64
 9   MAx                          0 non-null      float64
 10  Min                          0 non-null      float64
 11  Avg                          0 non-null      float64
dtypes: float64(4), int64(3), object(5)
memory usage: 93.9+ KB

In [ ]:
df.describe()

       math score  reading score  writing score  Total  MAx  Min  Avg
count  1000.00000    1000.000000    1000.000000    0.0  0.0  0.0  0.0
mean     66.08900      69.169000      68.054000    NaN  NaN  NaN  NaN
std      15.16308      14.600192      15.195657    NaN  NaN  NaN  NaN
min       0.00000      17.000000      10.000000    NaN  NaN  NaN  NaN
25%      57.00000      59.000000      57.750000    NaN  NaN  NaN  NaN
50%      66.00000      70.000000      69.000000    NaN  NaN  NaN  NaN
75%      77.00000      79.000000      79.000000    NaN  NaN  NaN  NaN
max     100.00000     100.000000     100.000000    NaN  NaN  NaN  NaN

In [ ]:
#Create new columns for Total, Maximum, Minimum, and Average marks
df[Total]=df[['math score','reading score','writing score']].sum(axis=1)
df[Maximum]=df[['math score','reading score','writing score']].max(axis=1)
df[Minimum]=df[['math score','reading score','writing score']].min(axis=1)
df[Average]=df[['math score','reading score','writing score']].mean(axis=1)

NameError: name 'Total' is not defined

In [ ]:
# Sort the DataFrame by the 'Average'  column in descending order
df_sorted =df.sort_values(by='Average',ascending=False)